# Python: Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# C++: Object files
*.o
*.ko
*.obj
*.elf
*.dylib

# C++: Precompiled Headers
*.gch
*.pch

# C++: Libraries
*.lib
*.a
*.la
*.lo

# C++: Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# C++: Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# C++: Debug files
*.dSYM/
*.su
